@charset "utf-8";
/* CSS Document */
body, html {
	height: 100%;
	background-image: url("/assets/images/3-2.jpg");
	height: 25%;
	width: auto;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallaxSM {
	/* The image used */
	background-image: url("/assets/images/3-2.jpg");
	/*background: linear-gradient(0);

	/* Full height */
	height: 5%;
	width: auto;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
	.parallax {
		background-attachment: scroll;
	}
}

@media only screen and (max-device-width: 1024px) {
	.parallaxSM {
		background-attachment: scroll;
	}
}
    header {
        text-align: center;
        vertical-align: middle;
        color: green;
        background-color: black;
        background-image: url("/assets/images/2.jpg");
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px solid black;
        font-family: Courier New, Courier, monospace, Bold;
        font-size: 68px;
        padding-top: 25px;
        padding-bottom: 25px;

    }

	h1 {
		text-align: center;
		vertical-align: middle;
		color: green;
		background-color: black;
		background-image: url("/assets/images/2.jpg");
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0px solid black;
		font-family: Courier New, Courier, monospace, Bold;
		font-size: 68px;
		padding-top: 25px;
		padding-bottom: 25px;

	}

	h2 {
		text-align: center;
		vertical-align: middle;
		color: green;
		background-color: black;
		background-image: url('/assets/images/2.jpg');
		display: flex;
		align-items: center;
		justify-content: center;		
		border: 0px solid black;
		font-family: Courier New, Courier, monospace, Bold;
		font-size: 28px;
		padding-top: 25px;
		padding-bottom: 25px;

	}

	h3 {
		text-align: center;
		vertical-align: middle;
		color: green;
		background-color: black;
		background-image: url('/assets/images/2.jpg');
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0px solid black;
		font-family: Courier New, Courier, monospace, Bold;
		font-size: 28px;
		padding-top: 25px;
		padding-bottom: 25px;

	}

	div {
		background-color: black;
		background-image: url('/assets/images/2.jpg');
		display: flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		border: 0px solid black;
		text-align: left;				
		color: green;
		font-family: Courier New, Courier, monospace;
		font-size: 28px;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	footer {
		text-align: center;
		vertical-align: middle;
		color: green;
		background-color: black;
		background-image: url("/assets/images/2.jpg");
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0px solid black;
		font-family: Courier New, Courier, monospace;
		font-size: 13px;
		padding-top: 25px;
		padding-bottom: 25px;
	}
